# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter
.ipynb_checkpoints/

# Environments
env/
venv/
*.egg-info/
.env

# Data and models
/data/
/data_splits
/models/
/reports/

# macOS
.DS_Store

# Logs
*.log

# Checkpoints
*.ckpt
*.pth
