name: plant-pest
channels:
  - defaults
  - conda-forge
dependencies:
  - python=3.9
  - pip
  - pip:
    - torch
    - torchvision
    - scikit-learn
    - pandas
    - numpy
    - matplotlib
    - seaborn
    - tqdm
    - pillow
